.page.theme-dark {
  --background-image: url(cover-image-dark.png);
  --background-color: #000028;
  --header-color: #FF0070;
  --title-color: #DB00FF;
  --accent-color: #FF0070;
  --text-color: #000028;
  --title-main-color: #FF0070;
  --information-text-color: #F1B2CE;
  --text-font: 'IBM Plex mono', sans-serif;
}


