:root.theme-dark {
  --background-image: none;
  --background-color: #000028;
  --header-color: #FF0070;
  --title-color: #DB00FF;
  --accent-color: #FF0070;
  --text-color: #000028;
  --information-text-color: #F1B2CE;
  --text-bold: 'IBM Plex Mono Bold', monospace;
  --text-regular: 'IBM Plex Mono Regular', monospace;
}

.theme-dark .page {
  .header_REC-decoration {
  block-size: 100%;
  grid-column: 3;
  grid-row: 1;
  justify-self: end;
  color: var(--header-color);
  font-family: var(--text-regular);
  font-size: 18px;
  position: relative;
  padding-right: 38px;
  padding-top: 10px;
}

.header_REC-decoration::after {
  content: "";
  background-color: var(--header-color);
  border-radius: 50%;
  position: absolute;
  width: 9px;
  height: 9px;
  box-shadow: 0 0 4px 2px var(--header-color);
  left: 40px;
  top: 15px;
}

@media (width > 630px) {
  .header_REC-decoration {
    grid-column: 6;
    padding-top: 0;
    padding-right: 28px;
  }

  .header_REC-decoration::after {
    top: 6px;
  }
  
  @media (width >= 1024px) {
    .header_REC-decoration::after {
      bottom: 15px;
    }
  }
}
}
