/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --background-image: url(/images/cover-image-light.png);
  --background-color: #FFF1F7;
  --header-color: #353430;
  --title-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --text-color: #000028;
  --information-text-color: #353430;
  --text-bold: 'IBM Plex Mono Bold', monospace;
  --text-regular: 'IBM Plex Mono Regular', monospace;
}

@media (prefers-color-scheme: light) {
  :root.theme-light {
  --background-image: url(/images/cover-image-light.png);
  --background-color: #FFF1F7;
  --header-color: #353430;
  --title-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --text-color: #000028;
  --information-text-color: #353430;
  --text-bold: 'IBM Plex Mono Bold', monospace;
  --text-regular: 'IBM Plex Mono Regular', monospace;
}

  .theme-light .page {
    .header_REC-decoration {
    block-size: 100%;
    grid-column-start: 3;
    grid-column-end: auto;
    grid-row: 1;
    justify-self: end;
    color: transparent;
    font-family: var(--text-regular);
    font-size: 18px;
    position: relative;
    padding-right: 28px;
  }

  .header_REC-decoration::after {
    content: none;
  }
}
}

.theme-light .page {
  .header_REC-decoration {
  display: none;
}

.header_REC-decoration::after {
  content: none;
}
}
