.page {
  background-image: var(--background-image);
  background-attachment: fixed;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  font-family: var(--text-font);
  font-size: 18px;
  line-height: 23.4px;
  position: relative;
}

.header {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: repeat(4, auto);
  padding: 10px 10px 0 0;
  min-height: 668px;
  height: 100vh;
  inline-size: 100%;
  position: relative;
}

.header::before {
  content: "";
  border-left: 1px solid var(--header-color);
  border-bottom: 1px solid var(--header-color);
  position: absolute;
  width: 25px;
  height: 25px;
  left: 10px;
  bottom: 10px;
}

.header::after {
  content: "";
  border-right: 1px solid var(--header-color);
  border-top: 1px solid var(--header-color);
  position: absolute;
  width: 25px;
  height: 25px;
  right: 10px;
  top: 10px;
}

.header_REC-decoration {
  padding: 3px 30px 0 0;
  grid-column: 2;
  grid-row: 1;
  justify-self: end;
  align-self: start;
  color: var(--accent-color);
}

.header_REC-decoration::after {
  content: "";
  background-color: var(--header-color);
  border-radius: 50%;
  position: absolute;
  width: 9px;
  height: 9px;
  box-shadow: 0 0 4px 4px var(--header-color);
  right: 19px;
  top: 19px;
}

.theme-light .header_REC-decoration {
  color: transparent;
}

.theme-light .header_REC-decoration::after {
  display: none;
}

.header__theme-menu {
  grid-column: 2;
  grid-row: 2;
  margin-block-start: 40px;
  align-self: center;
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: end;
}

.header__theme-menu-button {
  padding: 1.5px 13px;
  color: var(--accent-color);
  text-transform: lowercase;
  background-color: transparent;
  border: none;
}

.header__theme-menu-button_active {
  border: 1px solid var(--header-color);
}

.header__theme-menu-button:hover {
  border: 1px solid color-mix(in srgb, var(--header-color) 40%, transparent);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--header-color);
}

.header_title {
  grid-column: 1 / -1;
  grid-row: 3;
  margin-block-start: 65px;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: clamp(3.5rem, 3.3rem + 1vw, 4rem);
  text-wrap: wrap;
  line-height: 0.85;
  align-self: center;
}

.header_information {
  grid-column: 1 / -1;
  grid-row: 4;
  background-color: var(--accent-color);
  color: var(--text-color);
  font-weight: bold;
  margin-block-start: 55px;
  margin-block-end: 66px;
}

.main {
  inline-size: 100%;
  margin-top: 40px;
  padding: 0 10px 0 10px;
}

.information_blocks {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
}

.information_first-title {
  font-size: 18px;
  color: var(--title-main-color);
  font-weight: bold;
  margin-bottom: 20px;
}

.information_second-title {
  font-size: 18px;
  color: var(--text-color);
  font-weight: bold;
  background-color: var(--accent-color);
  margin-bottom: 10px;
}

.information_third-title {
  font-size: 18px;
  color: var(--text-color);
  font-weight: normal;
  background-color: var(--accent-color);
  margin-bottom: 10px;
  margin-top: 0px;
}

.information_third-title:first-of-type {
  margin-top: 20px;
}

.information_block-text-one {
  color: var(--information-text-color);
  font-weight: normal;
  text-wrap: wrap;
  display: block;
  inline-size: 100%;
  font-size: 18px;
  margin-bottom: 20px;
}

.information_block-text-one:last-of-type {
  margin-bottom: 0px;
}

.information_block-text-two {
  color: var(--information-text-color);
  font-weight: normal;
  text-wrap: wrap;
  display: block;
  inline-size: 100%;
  font-size: 18px;
  margin-bottom: 20px;
}

.information_block-text-two-margin {
  margin-bottom: 0;
}

.information_block-text-three {
  color: var(--information-text-color);
  font-weight: normal;
  text-wrap: wrap;
  display: block;
  inline-size: 100%;
  font-size: 18px;
  margin-bottom: 20px;
}

.information_block-text-three:last-of-type {
  margin-bottom: 0px;
}

.information_accent-text {
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

.information_accent-text:hover {
  border-bottom-color: var(--information-text-color);
}

.information_accent-text:focus {
  outline: none;
}

.information_accent-text:focus-visible {
  outline: 1px solid var(--information-text-color);
}

.gallery {
  margin-top: 50px;
}

.gallery_text-title-one {
  color: var(--text-color);
  font-weight: bold;
  font-size: 18px;
  background-color: var(--accent-color);
  margin-bottom: 10px;
}

.gallery_img-group {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
  gap: 10px;
}

.gallery_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  inline-size: 100%;
}

.img-sunset {
  grid-row: 1;
}

.img-ice-cream {
  grid-row: 2;
}

.img-tape {
  grid-row: 3;
}

.img-books {
  grid-row: 4;
}

.img-street {
  grid-row: 5;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 668px;
  position: relative;
  margin: 40px 10px 10px 10px;
}

.footer_text {
  font-weight: bold;
  color: var(--title-color);
  text-shadow: 2px 2px 0 var(--accent-color);
  white-space: nowrap;
  font-size: clamp(6rem, 6.5vw, 8rem);
  text-align: center;
}

.footer::before {
  content: "";
  border-left: 1px solid var(--header-color);
  border-bottom: 1px solid var(--header-color);
  position: absolute;
  width: 25px;
  height: 25px;
  left: 0;
  bottom: 0;
}

.footer::after {
  content: "";
  border-right: 1px solid var(--header-color);
  border-top: 1px solid var(--header-color);
  position: absolute;
  width: 25px;
  height: 25px;
  right: 0;
  top: 0;
}

@media (width > 600px) and (width < 1024px) {
  .header {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    min-height: 1024px;
    margin: 0;
    padding: 20px 20px 0px 0;
  }

  .header::before {
    left: 20px;
    bottom: 20px;
  }

  .header::after {
    right: 20px;
    top: 20px;
  }

  .header_REC-decoration {
    grid-column: 6;
  }

  .header_REC-decoration::after {
    right: 29px;
    top: 29px;
  }

  .header__theme-menu {
    margin-top: 146px;
    grid-column: 6;
    grid-row: 2;
  }

  .header_title {
    margin-top: 173px;
    margin-bottom: 162px;
    text-wrap: nowrap;
    font-size: clamp(3.75rem, 7.2265625vw + 0.28125rem, 4.90625rem);
    grid-column: span 5;
    grid-row: 3;
  }

  .header_information {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row: 4;
    margin-bottom: 183px;
    margin-right: 0;
  }

  .main {
    margin-top: 60px;
    min-height: 3682px;
    padding: 0 20px 0;
  }

  .information_blocks {
    display: grid;
    grid-template-columns: 1fr;
    gap: 80px;
  }

  .information_block-one {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .information_second-title:first-child {
    margin-top: 0;
  }

  .information_first-title-block-one {
    grid-column: 1;
    align-self: start;
  }

  .information_block-one-section {
    grid-column: 2;
  }

  .information_block-two {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .information_first-title-block-two {
    grid-column: 1;
    margin-bottom: 20px;
  }

  .information_block-second-section {
    grid-column: span 3;
    display: grid;
    grid-template-columns: 1fr;
  }

  .information_block-three {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .information_first-title-block-three {
    grid-column: 1;
    align-self: start;
  }

  .information_block-third-section {
    grid-column: 2;
  }

  .gallery {
    margin-top: 80px;
  }

  .gallery_text-title-one {
    margin-bottom: 20px;
  }

  .gallery_img-group {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 20px;
  }

  .img-sunset {
    grid-column: span 2;
    grid-row: 1;
  }

  .img-ice-cream {
    grid-column: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .img-tape {
    grid-column: 1;
    grid-row-start: 2;
    grid-row-end: 5;
  }

  .img-books {
    grid-column: 2;
    grid-row: 2;
  }

  .img-street {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 5;
  }

  .footer {
    margin: 60px 20px 20px;
    min-height: 1024px;
  }

  .footer_text {
    margin: 463px 0 462px 0;
    font-size: clamp(6.5rem, 0.5rem + 12vw, 8.5rem);
  }
}

@media (width >= 1024px) {
  .header {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(12, 1fr);
    min-height: 768px;
    padding: 20px 20px 0 0;
  }

  .header__theme-menu {
    grid-column: 1 / -1;
    grid-row: 1;
    margin-block-start: 0;
    align-self: start;
    justify-self: center;
  }

  .header::before {
    left: 20px;
    bottom: 20px;
  }

  .header::after {
    right: 20px;
    top: 20px;
  }

  .header_REC-decoration {
    grid-column: 6;
  }

  .header_REC-decoration::after {
    right: 29px;
    top: 29px;
  }

  .header__theme-menu {
    margin-top: 0;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row: 1;
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .header__theme-menu-item {
    padding: 1.5px 13px;
  }

  .header_title {
    margin-top: 273px;
    margin-bottom: 114px;
    text-wrap: nowrap;
    grid-column: span 5;
    grid-row-start: 6;
    grid-row-end: 7;
    font-size: clamp(3.75rem, 7.2265625vw + 0.28125rem, 4.90625rem);
  }

  .header_information {
    margin-bottom: 134px;
    margin-right: 0;
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 9;
    grid-row-end: 10;
  }

  .main {
    margin-top: 60px;
    padding: 0 20px;
  }

  .information_blocks {
    gap: 80px;
  }

  .information_block-one {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .information_second-title:first-child {
    margin-top: 0;
  }

  .information_first-title-block-one {
    grid-column: 1;
    align-self: start;
  }

  .information_block-one-section {
    grid-column: 2;
  }

  .information_block-two {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .information_first-title-block-two {
    grid-column: 1;
    margin-bottom: 20px;
  }

  .information_block-second-section {
    grid-column: span 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .information_block-second-section-one {
    grid-column: 1;
  }

  .information_block-second-section-two {
    grid-column: 2;
  }

  .information_block-second-section-three {
    grid-column: 3;
  }

  .information_block-three {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .information_first-title-block-three {
    grid-column: 1;
    align-self: start;
  }

  .information_block-third-section {
    grid-column: 2;
  }

  .gallery {
    margin-top: 80px;
  }

  .gallery_text-title-one {
    margin-bottom: 20px;
  }

  .gallery_img-group {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 20px;
  }

  .img-sunset {
    grid-column: span 2;
    grid-row: 1;
  }

  .img-ice-cream {
    grid-column: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .img-tape {
    grid-column: 1;
    grid-row-start: 2;
    grid-row-end: 5;
  }

  .img-books {
    grid-column: 2;
    grid-row: 2;
  }

  .img-street {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 5;
  }

  .footer {
    margin: 60px 20px 20px;
    min-height: 768px;
  }

  .footer_text {
    margin: 319px 0;
    font-size: clamp(6.5rem, 0.5rem + 12vw, 8.5rem);
  }
}